 .btnEffect {
    position: relative;
    display: inline-block;
    width: 277px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;

        rect {
            stroke-width: 4;
            stroke-dasharray: 353, 0;
            stroke-dashoffset: 0;
            -webkit-transition: all 600ms ease;
            transition: all 600ms ease;
        }
    }

    span{
        background: black;
        -webkit-background-clip: text;
    }

    &:hover svg rect {
        stroke-dasharray: 196, 543;
        stroke-dashoffset: 437;
    }
}