
.allChats{ 
    width: 30%;
    background-color: lightgray;
}

.contextChat {
    border-left: 1px solid black;
    padding: 10px;
    width: 80%;
}

.chat {
    padding-top: 10px;
    height: 500px;
}

.nameChat{
    border-bottom: 1px solid black;
    padding: 10px;
}

.text {
}