
.allChats{ 
    width: 30%;
    background-color: lightgray;
    border: 1px solid black;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 1em;
    padding: 10px;
    margin-bottom: 50px;
    height: 617px;
}

.contextChat {
    padding: 10px;
    width: 80%;
}

.chat {
    padding-top: 10px;
    height: 510px;
    overflow: auto;
    background-color: white;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.userChat{
    padding: 10px;
    display: flex;
    position: relative;
    border-radius: 21px 22px 0px 0px;
    -moz-border-radius: 21px 22px 0px 0px;
    -webkit-border-radius: 21px 22px 0px 0px;
    border: 1px solid lightgray;
    background-color: white;
}

.boxSend {
   padding-top: 10px;
   display: flex; 
}

.textInput {
    border-radius: 1em;
    width: 80%;
    padding: 5px;
}

.btnSend{
    width: 20%;
    font-size: 18px;
    border: 1px solid lightgray;
    border-radius: 1em;
    padding: 5px 0px;
    margin-left: 10px;
    background-color: #5f9ea0;
    color: white;
}

.alluser {
    text-align: center;
    margin-top: 22px;
    font-size: 25px;
    padding: 5px;
    border-bottom: 1px solid black;
}

.boxChat {
    padding-top: 40px;
    padding-bottom: 40px;
}

.nameChatActive {
    font-size: 23px;
    padding-left: 25px;
    margin-top: 10px;
    align-items: center;
}

.videoIcon {
    position: absolute;
    left: 90%;
}

.receiveUser{
    float: left;
    padding: 13px 25px;
    margin-left: 20px;
    background: #E2B7EA;
    border-radius: 1em;
    margin: 10px;
    margin-right: 50%;
}

.boxmsg{
    width: 100%;
    height: 30px;
}

.sendUser {
    float: right;
    padding: 13px 25px;
    margin-right: 20px;
    background: lightblue;
    border-radius: 1em;
    margin: 10px;
    margin-left: 50%;
}

.btnChat{
    margin-top: 20px;
    border-radius: 1em;
    background-color: #5f9ea0;
    color: white;
    font-size: 19px;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
 
    &:hover {
       font-weight: bold;
    }
 }