.subscriber {
    background-color: white;
    padding: 20px;
    float: right;
    position: relative;
}

.publisher {
    width: 20%;
    float: left;
}

.OTPublisherContainer {
    top: 50px;
    width: 1200px !important;
    height: 800px !important;
   
}

.chkb{
    background-color: lightgray;
    display: flex;
    top: 77px;
    padding: 5px;
    position: absolute;
}