.modal {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: white;
    padding: 10px 20px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.modalBG {
    width: 100%;
    z-index: 998;
    height: 100%;
    top: 0;
    left: 0px;
    position: absolute;
    background-color: rgba(0,0,0,.5);
}

.modalButton {
    margin-bottom: 15px;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    align-self: flex-end;
    user-select: none;
}