body {
  padding-top: 60px;
  font-family: Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.imgLogo{
  width: 34px;
  margin-right: 20px;
  background-color: white;
  padding-left: 3px;
  top: 11px;
  position: absolute;
  -webkit-box-shadow: 1px 2px 5px 9px rgba(255,255,255,1);
  -moz-box-shadow: 1px 2px 5px 9px rgba(255,255,255,1);
  box-shadow: 1px 2px 5px 9px rgba(255,255,255,1);
}

.boxImgNav{
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
}

.ImgNav {
  width: 40px;
  padding-left: 5px;
  padding-top: 4px;
}

.profileDesple ul {
  list-style: none;
  padding: 0;
}

.profileDesple li {
  line-height: 1rem;
  position: relative;
  width: 120px;
  padding: 5px;
}

.profileDesple li ul {
  position: relative;
}

.profileDesple li ul{
  display: none;
}

.profileDesple li:hover ul {
  display: block;
  background-color: lightblue;
  user-select: none;
}

.profileDesple a {
  display: block;
  padding: 0 2.5em;
  text-decoration: none;
  transition: .4s;
}

.itemDesple {
  // backgroun..
  padding: 5px;
}

.profileDesple > ul {
  display: table;
  width: 100%;
}

.profileDesple > ul > li > ul {
  top: 5px;
}

a {
  color: #000;
}

.header {
  background-color: white;
  box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  padding-left: 50px;
  padding-top: 10px;
  font-size: 2em;
  text-decoration: none;
}

.menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

 .menu-btn {
  display: none;
}

 .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .profileDespleMobile  {
  max-height: 240px !important;
}

 .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

 .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (max-width: 35em) {
  .profileDesple{
    display: none;
  }

  .profileDespleMobile{
    display: block;
  }

  .body { 
    background-color: red;
  }
}


@media (min-width: 35em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .profileDespleMobile{
    display: none;
  }

  .header {
    max-height: 57px;
  }
}


