.boxAllUsers {
    padding: 10px;
    margin: 10px;
    border-radius: 1em;
}

.boxUser{
    background-color: lightgray;
    width: 40%;
    float: left;
    height: 40px;
    margin: 2%;
    padding: 5px;
    border-radius: 1em;
    line-height: 100%;

}