.boxAllUsers {
    padding: 10px;
    margin: 10px;
    border-radius: 1em;
    width: 100%;
    height: 100%;
}

.boxSearch {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 1em;
    padding: 10px;
    height: 100%;
    margin-bottom: 50px;
}

.boxSearch > h1 {
    padding-left: 20px;
}

.usersTitle {
    color: black
}