.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

body {
  margin: 0;
}

.inFlex {
  display: flex;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pdl-25 {
  padding-left: 25px;
}

.pdr-25 {
  padding-right: 25px;
}