.form {
    padding-top: 80px;
    width: 22em;
    margin-left: auto;
    margin-right: auto;
}

.boxInputs{
  width: 322px;
  padding-bottom: 20px;
}

.selectMulti{
  width: 325px;
  font-size: 20px;
}


